@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  background-color: #296ca8;
  background-image: url('https://images.unsplash.com/photo-1605941407951-fa62495beb54?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fG5ldyUyMHllYXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  padding-bottom: 100px;
  overflow: hidden;
}

body:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

body * {
  z-index: 1;
}

h1 {
  font-size: 48px;
  margin: -80px 0 40px;
}

.countdown {
  display: none;
  transform: scale(2);
}

.year {
  font-size: 150px;
  z-index: -1;
  opacity: 0.5;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.time h2 {
  margin: 0 0 5px;
}

@media (max-width: 500px) {
  .countdown {
    flex-direction: column;
  }
}
